<div class="oldHouse-div">
    <head-top></head-top>

    <div class="container">
        <a target="_blank" href="http://h5.qfang.com/realhouse/"><img width="100%" height="70" src="assets/images/oldHouse/ad-zh-really-house.jpg" data-pin-nopin="true"></a>
        <div class="old-content">
            <div class="old-tabs">
                <a href="javascript:void(0)" class="on">默认排序</a>
                <a href="javascript:void(0)">面积</a>
                <a href="javascript:void(0)">总价</a>
                <a href="javascript:void(0)">单价</a>
            </div>

            <div class="old-body">
                <div class="row house-count">
                    共找到<span class="num">{{oldHouseArr.length}}</span>套广州二手住房
                </div>

                <div class="row house-item" ng-repeat="oldHouseMsg in oldHouseArr">
                    <div class="col-md-3">
                        <a  ng-click="toOldHouseShow(oldHouseMsg)">
                            <img ng-src="assets/images/oldHouse/{{oldHouseMsg.imgUrls[0]}}" width="215" height="175" alt="">
                        </a>

                    </div>
                  <div class="col-md-7 house-info">
                      <div class="row house-title" ng-click="toOldHouseShow(oldHouseMsg)">
                        <a ng-click="toOldHouseShow(oldHouseMsg)">{{oldHouseMsg.showKeyword}}</a>
                      </div>
                      <div class="row">
                        <span>{{oldHouseMsg.houseAbout.roomC}}</span>
                        <span class="blank"></span><span class="v-line"></span><span class="blank">
                        <span>{{oldHouseMsg.houseAbout.size}}平米</span>
                        <span class="blank"></span><span class="v-line"></span><span class="blank">
                        <span>{{oldHouseMsg.houseAbout.decoration}}</span>
                        <span class="blank"></span><span class="v-line"></span><span class="blank">
                        <span>{{oldHouseMsg.houseAddress.floor}}</span>
                        <span class="blank"></span><span class="v-line"></span><span class="blank">
                        <span>{{oldHouseMsg.houseAbout.born}}年建</span>
                      </div>
                      <div class="row">
                        <span>{{oldHouseMsg.houseAddress.community}}</span>
                        <span>[{{oldHouseMsg.houseAddress.area}} <span class="blank"></span>{{oldHouseMsg.houseAddress.road}}]</span>
                        <span class="blank"></span>
                        <span>{{oldHouseMsg.houseAddress.detail}}</span>
                      </div>

                      <div class="row who">
                        {{oldHouseMsg.owner.xingming}}
                      </div>

                      <div class="row">
                        <span class="special" ng-repeat="s_tag in oldHouseMsg.otherMsg.specials">{{s_tag}}</span>
                      </div>
                  </div>

                  <div class="col-md-2 price">
                      <div>
                          <span class="allPrice"><span class="num">{{oldHouseMsg.houseAbout.allPrice}}</span>万</span>
                          <br>
                          <span class="avgPrice">{{oldHouseMsg.houseAbout.avgPrice}}元/平米</span>

                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <footer-nav></footer-nav>
</div>
