.oldHouse-div {

    .v-line {
        display: inline-block;
        width: 1px;
        height: 14px;
        background: #aaa;
    }

    .old-content {
        margin-top: 20px;
        overflow: hidden;
        a {
            &:hover {
                color: $c2;
            }
        }
    }

    .old-tabs {
        border-bottom: 2px solid $c1;

        a {
            display: inline-block;
            font-size: 16px;
            padding: 10px 20px;
            margin-right: 20px;
            text-align: center;
        }
        .on {
            background-color: $c1 !important;
            color: #fff;
            cursor: default;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
    }

    .old-body {
        .house-count {
            font-size: 20px;
            border-bottom: 1px solid #f4f4f4;
            padding: 15px 15px;
            margin-bottom: 20px;
            font-weight: bold;

            .num {
                color: $c1;
                font-size: 20px;
            }
        }

        .row {
            margin-bottom: 12px;
            span {
                font-size: 14px;
                color: #666;
            }
        }
        .house-title {
            font-size: 22px;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #777!important;
        }
        .who {
            color: #ccc;
            font-size: 14px;
        }
        .special {
            padding: 5px 12px;
            background-color: #f2f3f7;
            color:  #333;
        }

        .price {
            display: flex;
            height: 165px;
            align-items: center;
            justify-content: flex-end;
            text-align: right;

            .allPrice {
                color: #f91;
                .num {
                    color: #f91;
                    font-size: 30px;
                    font-weight: bold;
                }
            }

            .avgPrice {
                white-space: nowrap;
                color: #666;
            }
        }
    }
}
