$c3: #ddd;
// .icons-entrust {
//     width: 0;
//     height: 0;
//     display: block;
//     font-size: 0;
//     line-height: 0;
//     overflow: hidden;
//     background: url(../../../images/frontend/entrust/icons-entrust.gif) no-repeat;
// }
.dropdown-wrapper {
    position: relative;
    display: inline-block;
    min-width: 100px;
    height: 34px;
}
.dropdown-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: $c3 solid 1px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    cursor: pointer;
    .text {
        float: left;
        width: 70%;
        height: 100%;
        padding: 5px;
        border-right: 1px solid $c3;
        font-size: 0;
        background: #fff;
        .num {
            color: #2e2e2e;
            padding-left: 5px;
            vertical-align: text-bottom;
            display: inline-block;
            width: 70%;
            height: 100%;
            font-size: 14px;

        }
        .word {
            font-size: 14px;
            color: #999;
            display: inline-block;
            vertical-align: text-bottom;
            height: 100%;
            width: 20%;
        }
    }
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 8px;
        vertical-align: text-bottom;
        border-top: 7px solid darken($c3, 20%);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;

        transition: transform .3s;
    }

    input {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100px !important;
        // width: 0;
        // height: 0;
        // visibility: hidden;
        opacity: 0;
        cursor: pointer;

    }
}
.dropdown-list {
    position: absolute;
    top: 30px;
    left: 0;
    height: 150px;
    overflow: auto;
    font-size: 14px;
    width: 100px;
    border: 1px solid $c3;
    border-top: none;
    color: #2e2e2e;
    z-index: 5;
    li {
        list-style: none;
        display: block;
        width: 100%;
        line-height: 24px;
        padding: 10px;
        border-bottom: #eee dotted 1px;
        cursor: pointer;
        background: #fff;
        &:hover {
            background: #f3f3f3;
            color: $c2;
        }
    }
}
#dd6, #dd8 {
    width: 145px !important;

    .caret {
        margin-left: 14px;
    }
    input {
        width: 145px !important;
    }
}
