<div class="slogan-box">
	<div class="slogan-box-inner clearfix">
		<div class="row">
			<div class="col-md-4 professional">
				<i class="icons-entrust"></i>
				<p>专业</p>
				<span>职业经纪人，操作过程规范、透明</span>
			</div>
			<div class="col-md-4 safest">
				<i class="icons-entrust"></i>
				<p>安全</p>
				<span>全程隐私保密，拒绝莫名骚扰</span>
			</div>
			<div class="col-md-4 comfortable">
				<i class="icons-entrust"></i>
				<p>舒心</p>
				<span>满意的价格，放心的交易</span>
			</div>
		</div>
	</div>
</div>
