<footer>
    <div class="container footer-top clearfix">
          <ul class="nav-bar clearfix">
              <li><a href="#">关于Q房</a></li>
              <li><a href="#">联系我们</a></li>
              <li><a href="#">人才招聘</a></li>
              <li><a href="#">用户协议</a></li>
              <li><a href="#">友情链接</a></li>
              <li><a href="#">房产百科</a></li>
              <li><a href="#">房产问答</a></li>
          </ul>

          <div class="hotlines clearfix">
              <span class="icons icon"></span>
              <span class="num">服务热线：4009-000-999</span>
          </div>
    </div>

    <div class="container footer-bottom">
    <p class="footer-bottom-letter">
      <span>按字母检索：</span>
        <a target="_blank" href="/letter/A"><span>A</span></a>
        <a target="_blank" href="/letter/B"><span>B</span></a>
        <a target="_blank" href="/letter/C"><span>C</span></a>
        <a target="_blank" href="/letter/D"><span>D</span></a>
        <a target="_blank" href="/letter/E"><span>E</span></a>
        <a target="_blank" href="/letter/F"><span>F</span></a>
        <a target="_blank" href="/letter/G"><span>G</span></a>
        <a target="_blank" href="/letter/H"><span>H</span></a>
        <a target="_blank" href="/letter/I"><span>I</span></a>
        <a target="_blank" href="/letter/J"><span>J</span></a>
        <a target="_blank" href="/letter/K"><span>K</span></a>
        <a target="_blank" href="/letter/L"><span>L</span></a>
        <a target="_blank" href="/letter/M"><span>M</span></a>
        <a target="_blank" href="/letter/N"><span>N</span></a>
        <a target="_blank" href="/letter/O"><span>O</span></a>
        <a target="_blank" href="/letter/P"><span>P</span></a>
        <a target="_blank" href="/letter/Q"><span>Q</span></a>
        <a target="_blank" href="/letter/R"><span>R</span></a>
        <a target="_blank" href="/letter/S"><span>S</span></a>
        <a target="_blank" href="/letter/T"><span>T</span></a>
        <a target="_blank" href="/letter/U"><span>U</span></a>
        <a target="_blank" href="/letter/V"><span>V</span></a>
        <a target="_blank" href="/letter/W"><span>W</span></a>
        <a target="_blank" href="/letter/X"><span>X</span></a>
        <a target="_blank" href="/letter/Y"><span>Y</span></a>
        <a target="_blank" href="/letter/Z"><span>Z</span></a>
    </p>
    <p class="footer-bottom-copyright">Copyright © 2016 www.qfang.com. All Rights Reserved ICP备案号：<a target="_blank" style="color:#999" href="http://www.miitbeian.gov.cn" rel="nofollow">粤ICP备05067219号-3</a></p>
    <p class="footer-bottom-cpyname" style="float:left;">公司名称：深圳市云房网络科技有限公司</p>
    <style>.ebsgovicon_class{float: left; margin: -1px 10px;} .ebsgovicon_class img{width:20px;height:27.5px}</style><p class="ebsgovicon_class" style="float:left;"><script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=a62a7cbc-957d-4104-a773-090987c97144&amp;width=75&amp;height=105&amp;type=1" type="text/javascript" charset="utf-8"></script><a href="http://szcert.ebs.org.cn/a62a7cbc-957d-4104-a773-090987c97144" target="_blank"><img src="http://szcert.ebs.org.cn/Images/govIcon.gif" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" width="75" height="105" border="0" style="border-width:0px;border:hidden; border:none;" data-pin-nopin="true"></a><script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script></p>
  </div>
</footer>
