<div class="main-div">
  <header>
    <head-top></head-top>
    <div class="headerBody">
      <div class="row message">
        <div class="col-md-12"></div>
      </div>
      <div class="row searchBox">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-2 search-tab on">
              <a href="#">二手房</a>
            </div>
            <div class="col-md-2 search-tab">
              <a href="#">新房</a>
            </div>
          </div>
          <div class="row search-body">
            <div class="col-md-10 no-r">
              <div class="input-group-lg">
                <input type="text" class="form-control" placeholder="请输入房源特征、房型、地址或小区名..." ng-keyup="$event.keyCode == 13 && searchData()" ng-model="search">
              </div>
            </div>
            <div class="col-md-2 no-l">
              <a ng-click="searchData()">搜 索</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </header>

  <div class="row entrances">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4 entrances-item entrances-old text-center">
          <a ng-click="toOldHouse()">
            <div class="icon-box">
              <span class="icon"></span>
            </div>
            <p>找二手房</p>
          </a>
          <p>海量真房源</p>
        </div>
        <div class="col-md-4 entrances-item entrances-new text-center">
          <a ng-click="toOldHouse()">
            <div class="icon-box">
              <span class="icon"></span>
            </div>
            <p>找新房</p>
          </a>
          <p>优质新盘，团购特惠</p>
        </div>
        <div class="col-md-4 entrances-item entrances-sale text-center">
          <a ui-sref="sale.step1">
            <div class="icon-box">
              <span class="icon"></span>
            </div>
            <p>我要卖房</p>
          </a>
          <p>一对一服务，安全省心</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container oldHouse">
    <make-head url="oldHouse" t1={{oldHouseMes.title[0]}} t2={{oldHouseMes.title[1]}} c1={{oldHouseMes.caption[0]}} c2={{oldHouseMes.caption[1]}} m={{oldHouseMes.more}}></make-head>

    <div class="row pic-content">
      <div class="col-md-3">
        <div class="row">

          <div class="col-md-12 pic-box">
            <a ng-click="queryCate(cateType[0])" class="wrapper">
              <img src="assets/images/home/oldHouse/ditiefang.jpg" alt="">
              <div class="title">{{cateType[0]}}</div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pic-box">
            <a ng-click="queryCate(cateType[1])" class="wrapper">
              <img src="assets/images/home/oldHouse/hongbenzaishou.jpg" alt="">
              <div class="title">{{cateType[1]}}</div>

            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 pic-box">
            <a ng-click="queryCate(cateType[2])" class="wrapper">
              <img src="assets/images/home/oldHouse/zhujiasanfang.jpg" alt="">
              <div class="title">{{cateType[2]}}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 pic-box">
            <a ng-click="queryCate(cateType[3])" class="wrapper">
              <img src="assets/images/home/oldHouse/gangxuxiaohu.jpg" alt="">
              <div class="title">{{cateType[3]}}</div>

            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 pic-box">
            <a ng-click="queryCate(cateType[4])" class="wrapper">
              <img src="assets/images/home/oldHouse/buxiangou.jpg" alt="">
              <div class="title">{{cateType[4]}}</div>

            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pic-box">
            <a ng-click="queryCate(cateType[5])" class="wrapper">
              <img src="assets/images/home/oldHouse/youxuandazhai.jpg" alt="">
              <div class="title">{{cateType[5]}}</div>

            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container newHouse">
    <make-head url="oldHouse" t1={{newHouseMes.title[0]}} t2={{newHouseMes.title[1]}} c1={{newHouseMes.caption[0]}} c2={{newHouseMes.caption[1]}} m={{newHouseMes.more}}></make-head>

    <div class="pic-content">
      <div class="left">
        <a href="#" class="wrapper">
          <img src="assets/images/home/newHouse/wankeyunqiang.jpg" alt="">
        </a>

        <div class="mes">
          <span>万科云城米酷</span>
          <b>返现8000送不停</b>
        </div>
      </div>

      <div class="mid">
        <div class="pic-box">
          <a href="#" class="wrapper">
            <img src="assets/images/home/newHouse/shidaichangdao.jpg" alt="">
          </a>

          <div class="over"></div>
          <div class="toTop">
            <div class="title">
              <b>时代长岛</b>
              <span>最高享97折</span>
            </div>
            <div class="content">
              <span>区域：南沙
              </span>
              <span>均价：18000元/㎡</span>
              <span>报名：55人</span>
              <span class="last">
                花园洋房\ 生态宜居
              </span>

            </div>
          </div>

        </div>
        <div class="pic-box">
          <a href="#" class="wrapper">
            <img src="assets/images/home/newHouse/wankehui.jpg" alt="">
          </a>
          <div class="over"></div>
          <div class="toTop">
            <div class="title">
              <!--<em>万科峯汇</em>-->
              <b>万科峯汇</b>
              <span>返现8000送不停</span>
            </div>
            <div class="content">
              <span>区域：前进路
              </span>
              <span>均价：30000元/㎡</span>
              <span>报名：87人</span>
              <span class="last">
                花园洋房\ 水景地产
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="right">
        <div class="pic-box">
          <a href="#" class="wrapper">
            <img src="assets/images/home/newHouse/jinshihuayuan.jpg" alt="">
          </a>
          <div class="over"></div>

          <div class="toTop">
            <div class="title">
              <!--<em>金时花园</em>-->
              <b>金时花园</b>
              <span>最高优惠4万</span>
            </div>
            <div class="content">
              <span>区域：荔城大道北
              </span>
              <span>均价：14000元/㎡</span>
              <span>报名：94人</span>
              <span class="last">
                花园洋房\ 生态宜居\ 别墅
              </span>
            </div>
          </div>
        </div>
        <div class="pic-box">
          <a href="#" class="wrapper">
            <img src="assets/images/home/newHouse/mingchuihuayuan.jpg" alt="">
          </a>
          <div class="over"></div>

          <div class="toTop" click="alert('1')">
            <div class="title">
              <!--<em>鸣翠花园</em>-->
              <b>鸣翠花园</b>
              <span>最高优惠7万</span>
            </div>
            <div class="content">
              <span>区域：工业大道南
              </span>
              <span>均价：43000元/㎡</span>
              <span>报名：85人</span>
              <span class="last">
                现房\ 花园洋房\ 水景地产
              </span>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="footer-feature-wrapper">
    <div class="container">
      <div class="row footer-feature">
        <div class="col-md-3 footer-feature-item">
          <div class="row">
            <span class="icons icon truely"></span>
            <span class="title">真实</span>
          </div>
          <div class="row description">
            高清图片，真实成交，真实
            <br>
            信息展现真实二手房
          </div>
        </div>
        <div class="col-md-3 footer-feature-item">
          <div class="row">
            <span class="icons icon timely"></span>
            <span class="title">及时</span>
          </div>
          <div class="row description">
            即时在线咨询直联房产顾问<br>
            个人手机，沟通快，无骚扰
          </div>
        </div>
        <div class="col-md-3 footer-feature-item">
          <div class="row">
            <span class="icons icon profession"></span>
            <span class="title">专业</span>
          </div>
          <div class="row description">
            社区专家<br>
            您的专职房产顾问
          </div>
        </div>
        <div class="col-md-3 footer-feature-item">
          <div class="row">
            <span class="icons icon freedom"></span>
            <span class="title">自由</span>
          </div>
          <div class="row description">
            关注，收藏，转发，信息分享<br>
            随心所欲
          </div>
        </div>
      </div>

    </div>
  </div>
  <footer-nav></footer-nav>
</div>
