<div class="row login-tabs">
    <a class="col-md-6" ng-class="{on: isSelected}" ui-sref="user.login">登录</a>
    <a class="col-md-6" ng-class="{on: !isSelected}" ui-sref="user.register">账号注册</a>
</div>
<ng-form class="login-form user-form" name="loginForm" id="loginForm">
    <div class="row telNum">
        <input type="text" name="username" hidden="true">
        <input type="text" class="form-control" placeholder="请输入手机号码" name="username" ng-model="login.username" ng-pattern="pattern.reg.phone" required>
    </div>
    <div class="row alert alert-info" ng-show="loginForm.username.$error.pattern">
      {{pattern.msg.phone}}
    </div>
    <div class="row password">
        <input type="text" name="password" hidden="true">
        <input type="password" class="form-control" placeholder="请输入密码" name="password" ng-model="login.password" ng-pattern="pattern.reg.password" required>
    </div>
    <div class="row alert alert-info" ng-show="loginForm.password.$error.pattern">
      {{pattern.msg.password}}
    </div>
    <div class="row">
        <div class="other-msg pull-left">
            <input type="checkbox" name="remPass" id="remPass" ng-model="remFlag">
            <label for="remPass"><span>记住密码</span></label>
        </div>
        <div class="forget-pw pull-right">
            <a href="#">忘记密码？</a>
        </div>
    </div>
    <div class="row">
        <button type="button" name="button" class="btn" ng-disabled='loginForm.$invalid' ng-click="signin()">立即登录</button>

    </div>
</ng-form>
<tip-box></tip-box>
