<div class="carouselBox">
    <div class="banner">
        <div class="large_box">
            <ul>
                <!-- <li>
                    <img src="assets/images/carouselBox/img1.jpg" width="690" height="517">
                </li>
                <li>
                    <img src="assets/images/carouselBox/img2.jpg" width="690" height="517">
                </li>
                <li>
                    <img src="assets/images/carouselBox/img3.jpg" width="690" height="517">
                </li>
                <li>
                    <img src="assets/images/carouselBox/img4.jpg" width="690" height="517">
                </li>
                <li>
                    <img src="assets/images/carouselBox/img5.jpg" width="690" height="517">
                </li>
                <li>
                    <img src="assets/images/carouselBox/img6.jpg" width="690" height="517">
                </li>
                <li>
                    <img src="assets/images/carouselBox/img6.jpg" width="690" height="517">
                </li> -->
            </ul>
        </div>
        <div class="small_box">
            <span class="btns left_btn"></span>
            <div class="small_list">
                <ul>
                    <!-- <li ng-repeat="img in imgUrls">
                        <img src="assets/images/oldHouse/CvtcKlgoBbCASFjmAAFRMLctOFA972.jpg" width="129" height="98">
                        <div class="bun_bg"></div>
                    </li> -->
                    <!-- <li>
                        <img src="assets/images/carouselBox/thum2.jpg" width="129" height="98">
                        <div class="bun_bg"></div>
                    </li>
                    <li>
                        <img src="assets/images/carouselBox/thum3.jpg" width="129" height="98">
                        <div class="bun_bg"></div>
                    </li>
                    <li>
                        <img src="assets/images/carouselBox/thum4.jpg" width="129" height="98">
                        <div class="bun_bg"></div>
                    </li>
                    <li>
                        <img src="assets/images/carouselBox/thum5.jpg" width="129" height="98">
                        <div class="bun_bg"></div>
                    </li>
                    <li>
                        <img src="assets/images/carouselBox/thum6.jpg" width="129" height="98">
                        <div class="bun_bg"></div>
                    </li> -->


                </ul>
            </div>
            <span class="btns right_btn"></span>
        </div>
    </div>
</div>
