.sale-div {
    ::-webkit-scrollbar-corner {
        background: #fff;
    }
    .sale-content {
        height: 950px;
        background: url(../assets/images/sale/bg-entrustform.jpg) center bottom no-repeat #f8f8f8;
        h1 {
            font-size: 28px;
            text-align: center;
            font-weight: 700;
            padding: 50px 0 35px;
        }

        .saleForm {
            width: 1000px;
            height: 750px;
            margin: 0 auto 30px;
            filter: none;
            background-color: rgba(255,255,255,0.95);
            border-radius: 10px;

            text-align: center;

            .tabs {
                border-bottom: #ebebeb solid 2px;
                padding: 20px 170px 0;
                height: 64px;
                font-size: 16px;
                .step {
                    position: relative;
                    height: 100%;
                    color: #999;
                }
                .num {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    line-height: 16px;
                    border: 2px solid #999;
                    border-radius: 100%;
                    margin-right: 10px;
                }
                .on {
                    border-bottom: 2px solid $c2;
                    color: $c2;
                    .num {
                        border: 2px solid $c2;
                    }
                    .triangle {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -3px;
                        width: 0;
                        height: 0;
                        border-bottom: 6px solid $c2;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                    }
                }
            }

            .form-content {
                width: 70%;
                margin: 0 auto;
                text-align: left;

                .title {
                    border-bottom: #ebebeb solid 1px;
                    font-size: 18px;
                    padding: 35px 20px 10px;
                }

                .form-item {
                    position: relative;
                    margin-top: 15px;
                    &>span {
                        display: inline-block;
                        width: 100px;
                    }
                    input[type="text"], input[type="month"], input[type="number"], textarea {
                        padding: 8px 10px;
                        _padding: 7px 10px;
                        width: 278px;
                        height: 38px;
                        line-height: 18px;
                        color: #2e2e2e;
                        font-size: 14px;
                        border: 0;
                        border-radius: 3px;
                        border: #ddd solid 1px;
                        outline: none;
                    }
                    .recommend {
                        font-size: 14px;
                        border: 0;
                        border-radius: 3px;
                        border: #ddd solid 1px;
                        outline: none;
                    }
                    .bootstrap-select {
                        min-width: 150px;
                        width: auto;
                        .dropdown-menu {
                            margin-top: 0;
                            li {
                                &:hover {
                                    background: #f3f3f3;
                                    a {
                                        color: $c1;

                                    }
                                }
                            }
                        }
                    }
                    .w-100px {
                        width: 100px !important;
                    }
                    .w-200px {
                        width: 150px !important;
                    }
                    .next-step {
                        padding: 0 40px;
                        height: 40px;
                        line-height: 40px;
                        margin-left: 100px;
                        background: #ff7e00;
                        color: #fff;
                        font-size: 20px;
                        border-radius: 3px;
                        text-decoration: none;
                        font-family: "\5fae\8f6f\96c5\9ed1";
                        display: inline-block;
                        border: none;
                    }
                    .s_btn {
                        margin-left: 3px;
                    }
                    .back-step {
                        height: 40px;
                        line-height: 40px;
                        color: #999;
                        font-size: 14px;
                        cursor: pointer;
                        margin-right: -100px;
                    }
                    .dropdown-box {
                        position: relative;
                        top: -5px;
                    }
                    .radio-box {
                        display: inline-block;
                        label {
                            input {
                                margin-right: 5px;
                            }
                            font-size: 12px;
                            color: #2e2e2e;
                            font-weight: normal;
                        }
                    }
                    .text-box {
                        display: inline-block;
                        position: relative;
                        input {
                            width: 150px;
                        }
                    }
                    .unit {
                        position: absolute;
                        top: 7px;
                        right: 30px;

                        font-size: 14px;
                        color: #999;
                    }
                }

                .entrust-succeed {
                    text-align: center;
                    font-size: 0;
                    padding: 100px 0 50px;
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .success {
                        width: 50px;
                        height: 50px;
                        background-position: -10px -132px;
                    }
                    .words {
                        font-size: 24px;
                        text-align: left;
                        padding: 0 0 0 30px;
                    }

                }

                .entrust-succeed-txt {
                    p {
                        height: 200px;
                        padding-left: 200px;
                        padding-right: 115px;
                        font-size: 16px;
                        line-height: 32px;
                        border-bottom: #f5f5f5 solid 1px;

                    }
                    .redenvelopes-copyright {
                        display: block;
                        text-align: center;
                        font-size: 14px;
                        color: #999;
                        margin: 25px 0 0;
                        line-height: 28px;
                    }
                }
            }
        }

        .file-input {
            margin-top: 30px;
        }
        .fileInputPreview {
            height: 450px;
            overflow: auto;

            .file-drop-zone {
                margin: 0;
                height: auto;
                min-height: 100%;

                .file-drop-zone-title {
                    color: #aaa;
                    font-size: 1.6em;
                    padding: 175px 10px;
                    cursor: default;
                }
            }
        }
    }

    .alert-info, .alert-danger {
        display: inline-block;
        padding: 5px;
        margin-bottom: 0;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 14px;
    }

    .kv-file-upload {
        display: none;
    }
}
